body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(79, 75, 69); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(164, 38, 38); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(236, 236, 232); /* creates padding around scroll thumb */
}
